{% extends 'index.html' %}
{% block content %}
<h1>Поиск нахождения туров.</h1>
<p> Итак, вы захотели приобрести тур, с чего начать?</p>
<p>1. Ознакомитесь со списком качественных и проверенных сайтов, которые продают туры. В этом могут помочь отзывы пользователей интернете, пользуйтесь несколькими источниками.</p><p>2.Cоставить список сайтов для просмотра туров и авиабилетов.</p>
<p>3. Напишите в поисковую строку: “Официальный сайт ~сайт турагентства/туроператора~”. После этого появится список сайтов нужного туроператора. Выберите тот, рядом с адресной строкой которого будет находится галочка - навигационный ответ.</p>
<p><i>*Примечание<br>
Функция “Навигационный ответ” работает только в браузере “Яндекс”.</i></p>
<p>! Значок “навигационный ответ” - метка отображается в тех случаях, когда есть высокая степень уверенности в том, что именно этот сайт нужен пользователю по данному запросу.</p>

{% endblock content %}