{% extends 'index.html' %}
{% block content %}
<h1>Туроператор или турагентство?</h1>
<p>Туроператор - организация, которая занимается созданием, формированием тура, в который входит выбор направлений, проживание, бронирование авиарейсов, трансфер, экскурсий, страховки.</p>
<p> - Туроператор может лично продавать туры, но в некоторых ситуациях они бывают дороже, чем у турагентств.<br>
- Прямой контакт с покупателем при возникновении проблем.</p>

<p>Туристическое агентство - это организация, занимающейся продажей сформированных туроператором туров.</p>
<p>-Может показывать туристам путевки от одного оператора, либо от нескольких.<br>
- Агентство чаще всего предоставляет скидку на туры.</p>
<p>! Важно учесть, что цена тура может измениться между периодом нахождения и бронирования тура. Т.е. цена может быть не той, которой вы увидели на сайте перед бронированием, например с надбавкой за топливный сбор или доплатой за регулярный рейс. Это характерно при покупке как и у туроператоров, так и у турагентств.</p>

{% endblock content %}