{% extends 'index.html' %}
{% block content %}
    <h1>Регулярный или чартерный рейс?</h1>
    <p>Регулярный рейс — перелет, который выполняют крупные авиакомпании строго по расписанию.</p>
    <p>- В отличие от чартера, регулярный рейс полетит, даже если вы будете единственным пассажиром в салоне.<br>
        - Время начала рейса не зависит от количества пассажиров в самолёте.<br>
        - Одним из преимуществ рейса является безопасность, поскольку авиакомпания ответственна за расписание рейса,
        т.е. если регулярный рейс переносят больше чем на 48 часов, то компания должна возместить ущерб клиенту.<br>
        - Присутствует страховка от невыезда.<br>
        - Чем ближе вылет, тем дороже билеты, так как регулярные рейсы закупаются заранее туроператорами.</p>
    <p>Чартерный рейс — перелет, который организуют туроператоры, по определенному направлению в курортный сезон.</p>
    <p>- Одним из важных преимуществ этого рейса заключается в дешевизне.<br>
        - Также чартерные рейсы распространены во множествах городах, в отличии от регулярных - только в крупных
        транспортных центрах.<br>
        - При чартере невозможно будет вернуть билет.<br>
        - Ещё в некоторых направлениях не присутствуют уровни комфорта. <br>
        - Шанс переноса или задержки рейса, поскольку регулярные рейсы в приоритете у аэропортов.</p>
{% endblock content %}