{% extends 'index.html' %}
{% block content %}
<h1>Памятка по выбору тура</h1>
    <br/>
                    <a href="/?slide=1">Поиск нахождения туров</a><br/><br/>
                    <a href="/?slide=2">Туроператор или турагентство</a><br/><br/>
                    <a href="/?slide=3">Регулярный или чартерный рейс</a><br/><br/>
                    <a href="/?slide=4">Условия возврата для возвратного и невозвратного билетов</a><br/><br/>
                    <a href="/?slide=5">Надбавки к цене тура: багаж и ручная кладь</a><br/><br/>
                    <a href="/?slide=6">Авиаперелет с детьми или младенцами</a><br/><br/>
                    <a href="/?slide=7">Страховки от банкротства туроператора и от невыезда</a><br/><br/>
                    <a href="/?slide=8">Медицинская страховка и страховка от утери багажа</a><br/><br/>



{% endblock content %}