{% extends 'index.html' %}
{% block content %}
    <h1>Регулярный или чартерный рейс</h1>
    <h2>Регулярный</h2>
    <p>
    <ol>
        <li>В отличие от чартера, регулярный рейс полетит, даже если вы будете единственным пассажиром в салоне.</li>
        <li>Время начала рейса не зависит от количества пассажиров в самолёте.</li>
        <li>Присутствует страховка от невыезда.</li>
        <li>Чем ближе вылет, тем дороже билеты, так как регулярные рейсы закупаются заранее туроператорами.</li>
    </ol>
    </p>
    <h2>Чартерный</h2>
    <p>
    <ol>
        <li>Одним из важных преимуществ этого рейса заключается в дешевизне.</li>
        <li>При чартере невозможно будет вернуть билет.</li>
        <li>Ещё в некоторых направлениях не присутствуют уровни комфорта.</li>
        <li>Шанс переноса или задержки рейса, поскольку регулярные рейсы в приоритете у аэропорто.</li>
    </ol>
    </p>

    <p>
        <a href="https://zen.yandex.ru/media/bosikom_s_ryukzakom/charter-ili-reguliarka-kak-otlichit-i-zachem-eto-nujno-mify-o-4hznachnom-kode-na-charterah-6077fe0261a88770aa486957">
            Более подробная информация
        </a>
    </p>



{% endblock content %}