{% extends 'index.html' %}
{% block content %}
    <h1>Туроператор или турагентство</h1>
    <h2>Туроператор</h2>
    <p>
    <ol>
        <li>Туроператор может лично продавать туры, но в некоторых ситуациях они бывают дороже, чем у турагентств.</li>
        <li>Прямой контакт с покупателем при возникновении проблем</li>
    </ol>
    </p>
    <h2>Турагентство</h2>
    <p>
    <ol>
        <li>Может показывать туристам путевки от одного оператора, либо от нескольких</li>
        <li>Агентство чаще всего предоставляет скидку на туры</li>
    </ol>
    </p>

    <div class="msg-box">
        <div class="message  message--warning">
            <p>Важно учесть, что цена тура может измениться между периодом нахождения и бронирования тура.
                Т.е. цена может быть не той, которой вы увидели на сайте перед бронированием,
                например с надбавкой за топливный сбор или доплатой за регулярный рейс.
                Это характерно при покупке как и у туроператоров, так и у турагентств.
            </p>
        </div>
    </div>

    <p>
        Более подробно можно ознакомится по ссылке: <a
            href="https://account.travel/learn/turoperator-i-turagent.html">https://account.travel/learn/turoperator-i-turagent.html</a>
    </p>



{% endblock content %}