{% extends 'index.html' %}
{% block content %}
    <h1>Надбавки к цене тура: багаж и ручная кладь</h1>
    <h2>Багаж</h2>
    <p>
    <p>Примерные общепринятые правила и нормы провоза багажа:</p>
    <ol>
        <li>Предел веса достигает 20 кг в эконом-классе, 30 бизнес-класс, 40 в первом</li>
        <li>На трансатлантических рейсах разрешено провозить в багаже 2 места, суммарные габариты не должны превышать 158 см для эконом-класса или 203 см, а вес не более 32 кг.</li>
        <li>После начала регистрации деньги вернуть нельзя.</li>
    </ol>
    </p>
    <h2>Ручная кладь</h2>
    <p>
    <p>По стандартам можно пронести одно место ручной клади:</p>
    <ol>
        <li>Вес ручной клади входит в общую норму веса для бесплатного провоза багажа и не должен превышать 10 кг.</li>
        <li>Ручная кладь должна иметь соответствующие размеры, чтобы поместиться на полку над сиденьем или под кресло пассажира.</li>
    </ol>
    </p>

    <p>
        <a
            href="https://www.aeroflot.ru/ru-ru/information/preparation/luggage">Более подробная информация</a>
    </p>



{% endblock content %}