{% extends 'index.html' %}
{% block content %}
    <h1>Условия возврата для возвратного и невозвратного билетов</h1>
    <h2>Возвратный</h2>
    <p>
    <ol>
        <li>За 24 часа до начала регистрации можно вернуть полную стоимость билета (по возвратному тарифу).</li>
        <li>Если возвращаете меньше, чем за 24 часа, то вернут 75% от стоимости.</li>
        <li>После начала регистрации деньги вернуть нельзя.</li>
    </ol>
    </p>
    <h2>Невозвратный</h2>
    <p>
    <ol>
        <li>Авиакомпания отменила ваш рейс.</li>
        <li>Вылет задержали настолько, что у вас изменились планы поездки.</li>
        <li>Заболели вы или близкий родственник, который должен лететь с вами.</li>
        <li>Умер близкий родственник.</li>
        <li>Вас не посадили на Ваш рейс.</li>
    </ol>
    </p>

    <p>
        <a
            href="https://lenta.ru/articles/2017/07/27/vozvrat/">Более подробная информация</a>
    </p>



{% endblock content %}