{% extends 'index.html' %}
{% block content %}
<h1>Поиск нахождения туров</h1>
        <ol>
            <li>Напишите в поисковую строку: “Официальный сайт ~сайт турагентства/туроператора~”.</li>
            <li>После этого появится список сайтов нужного туроператора.</li>
            <li>Выберите тот, рядом с адресной строкой которого будет находится галочка - навигационный ответ.*</li>
        </ol>
<p>
    ! Значок “навигационный ответ” - метка отображается в тех случаях,
    когда есть высокая степень уверенности в том, что именно этот сайт
    нужен пользователю по данному запросу.
</p>
    <p>
        Более подробно можно ознакомится по ссылке: <a href="https://rskrf.ru/tips/eksperty-obyasnyayut/turoperatory/?lang=ru">https://rskrf.ru/tips/eksperty-obyasnyayut/turoperatory/?lang=ru</a>
    </p>



{% endblock content %}