{% extends 'index.html' %}
{% block content %}
    <h1>Страхование</h1>
    <h2>Страховка от банкротства туроператора</h2>
    <p>
    <ol>
        <li>Оформляется при покупке туров</li>
        <li>Стоимость страховки составляется 8-12 % от стоимости тура. Оформлять её стоит в случае неуверенности в туроператоре.</li>
        <li>Если туроператор долго находится на рынке продаж и имеет положительные отзывы, то можно обойтись без данного вида страхования.</li>
    </ol>
    </p>
    <h2>Страховка от невыезда</h2>
    <p>
    <ol>
        <li>Страховку от туроператора, нужно оформить заранее, примерно за две недели до даты вылета.</li>
        <li>Цена страховки ниже, если её приобретать напрямую у туроператоров.</li>
        <li>Цена страхования полностью зависит от стоимости тура, но обычно она составляет от 1 до 5 % от цены турпакета.</li>
    </ol>
    </p>

    <p>
        <a
            href="https://www.aviasales.ru/blog/strahovka-dlya-puteshestviya">Более подробная информация</a>
    </p>



{% endblock content %}