{% extends 'index.html' %}
{% block content %}
    <h1>Авиаперелет с детьми или младенцами</h1>
    <p>
    <ol>
        <li>Один взрослый пассажир может оформить перевозку одного ребенка в возрасте до 2-х лет без предоставления отдельного места</li>
        <li>Питание на борту для детей до 2-х лет не предоставляется.</li>
        <li>Для младенцев до 2-х лет можно приобрести отдельное место по предварительному запросу у туроператора, в данном случае оплачивается полная стоимость билета.</li>
    </ol>
    <img src="{{ url_for('static', filename='images/slide_6.jpg') }}" style="margin: 25px;">
    </p>


    <p>
        <a
            href="https://www.aeroflot.ru/ru-ru/information/preparation/luggage">Более подробная информация</a>
    </p>



{% endblock content %}