{% extends 'index.html' %}
{% block content %}
    <h1>Страхование</h1>
    <h2>Медицинская страховка</h2>
    <p>
    <ol>
        <li>В турпакетах туроператоры включают самый экономичный вид страхования, который не покрывает некоторые виды рисков на отдыхе.</li>
        <li>Дополнительная страховка также будет полезна при путешествии с детьми.</li>
    </ol>
    </p>
    <h2>Страхование на случай утери или задержки багажа</h2>
    <p>
    <ol>
        <li>В случае утраты багажа выплачивается компенсация 25 у.е. за 1 кг для класса "Эконом" и 50 у.е. за 1 кг для класса "Бизнес".</li>
        <li>При повреждении аксессуара багажа (чемодан, сумка, рюкзак) предусмотрена компенсация в размере 70 у.е., но не более чем за 2 единицы багажа.</li>
        <li>Задержка багажа более 6 часов подразумевает компенсацию в размере 100 у.е на одного застрахованного.</li>
    </ol>
    </p>

    <p>
        <a
            href="https://www.aviasales.ru/blog/strahovka-dlya-puteshestviya">Более подробная информация</a>
    </p>



{% endblock content %}